html(lang="pt-BR")
    link(rel="stylesheet" href="/style/main.css")
    script(src="/js/_vendor/lory.min.js")
    script(src="/js/main.js")
    head
        title Educollection
        meta(charset="utf8")
    body