html(lang="pt-BR")
    head
        title Educollection
        meta(charset="utf8")
        meta(name="viewport" content="initial-scale=1")
        link(rel="stylesheet" href="/style/main.css")
        script(src="/js/_vendor/lory.min.js")
        script(src="/js/main.js")
    body