header.main-header
    a.logo(href="/")
        h1 Educollection
    .right-header
        .welcome
            span Bem-vindx, 
                a(href="/perfil") #{user.name}
        nav.main-menu
            ul
                if(user.admin)
                    li
                        a(href="/cursos/novo") Novo curso
                    li
                        a(href="/usuarios/novo") Novo usuário
                li
                    a(href="/meus-cursos") Meus cursos
                li
                    a(href="/perfil") Meu perfil
                li
                    a(href="/logout") Sair