header.main-header
    .call-hamburger#callMobileMenu
        .hamburger-icon
    a.logo(href="/")
        h1 Educollection
    .right-header#mobileMenu
        .close-menu#closeMobileMenu
        .welcome
            span Olá, 
                a(href="/usuarios/"+user._id) #{user.name}
        nav.main-menu
            ul
                if(user.admin)
                    li
                        a(href="/cursos/novo") Novo curso
                    li
                        a(href="/usuarios/novo") Novo usuário
                    li
                        a(href="/usuarios") Usuários
                li
                    a(href="/usuarios/"+user._id) Meu perfil
                li
                    a(href="/logout") Sair