include ../header
ul
    li
        a(href="/") Home
    li
        a(href="/cursos") Usuários

h2 Cursos
ul
    each course in courses
        li
            a(href="cursos/"+course._id)=course.courseTitle

if(user.admin)
    p
        a(href="/cursos/novo") Novo curso