include ../header
ul
    li
        a(href="/") Home
    li
        a(href="/cursos") Cursos
    li Novo Curso

h2 Novo curso

form(method="post" action="/cursos/novo")
    label(for="title") Title
    input(type="text" name="title")
    br
    label(for="author") Autor
    input(type="text" name="author")
    br
    label(for="description") Descrição
    textarea(name="description")
    br
    label(for="category") Categoria
    select(name="category")
        option JavaScript
        option HTML
        option CSS
    input(type="submit" value="Adicionar curso")