include ../modules/header
include ../modules/menu
ul
    li
        a(href="/") Home
    li
        a(href="/cursos") Cursos
    li Curso

h2 Curso #{course.courseTitle}
h3 Adicionar arquivo na unidade #{unit.unitTitle}

form(method="post" action="/cursos/"+course._id+"/unidade/"+unit._id+"/addFile")
    label(for="fileTitle") Título do arquivo
    input(type="text" name="fileTitle")
    br
    label(for="fileOrigin") Origem do arquivo
    input(type="file" name="fileOrigin")
    br
    input(type="submit" value="Adicionar novo arquivo")