include ../modules/header
include ../modules/menu

.centralized-container
    h2 Curso #{course.courseTitle}
    h3 Adicionar vídeo na unidade #{unit.unitTitle}

    form(method="post" action="/cursos/"+course._id+"/unidade/"+unit._id+"/addVideo")
        label(for="videoTitle") Título do vídeo
        input(type="text" name="videoTitle")
        br
        label(for="videoOrigin") Origem do vídeo
        select#videoOrigin(name="videoOrigin")
            option(disabled selected) Selecione a origem
            option(value="yt") YouTube
            option(value="vm") Vimeo
            option(value="mp4") Outro / MP4
        br
        label(for="videoSource")
            span.dynSpan#ytvmTitle ID do vídeo
            span.dynSpan#mp4Title URL do arquivo MP4
        br
        span.dynSpan#ytDescription Você vai encontrar na URL do Youtube: https://www.youtube.com/watch?v=[idDoVideo]
        span.dynSpan#vmDescription Você vai encontrar na URL do Vimeo: http://vimeo.com/[idDoVideo]
        span.dynSpan#mp4Description Cole abaixo a URL do vídeo em MP4. Ex: www.meusite.com.br/video.mp4
        br
        input#videoSource(type="text" name="videoSource")
        br
        input(type="submit" value="Adicionar novo vídeo")