@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0; }

.centralized-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.course-rating input {
  display: none; }
  .course-rating input:checked + label svg path {
    fill: #8783D1; }
  .course-rating input:checked + label ~ label svg path {
    fill: #92DCE5; }

.course-rating.-active label {
  cursor: pointer; }
  .course-rating.-active label:hover svg path {
    fill: #8783D1; }
  .course-rating.-active label:hover ~ label svg path {
    fill: #92DCE5; }

.course-rating svg {
  width: 25px;
  height: 25px; }
  .course-rating svg path {
    fill: #8783D1;
    transition: fill .3s ease; }

.course-thumb {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 130px;
  overflow: hidden;
  margin: 5px;
  transition: all .3s ease; }
  .course-thumb:hover {
    transform: scale(1.05); }
  .course-thumb img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .course-thumb-title {
    position: absolute;
    bottom: 5px;
    left: 0;
    margin: 0 5px;
    z-index: 10;
    font-size: 16px;
    color: #fff; }
  .course-thumb-author {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #fff; }
  .course-thumb-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .5;
    z-index: 5; }
    .category_JavaScript .course-thumb-mask {
      background: #FFFD98; }
    .category_CSS .course-thumb-mask {
      background: #8783D1; }
    .category_HTML .course-thumb-mask {
      background: #DB2763; }
  .course-thumb-mask-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
    background: -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

label {
  font-size: 18px;
  color: #383D3B; }

input, textarea {
  border: none;
  display: block;
  width: 100%;
  background: white;
  color: #383D3B;
  font-size: 16px;
  padding: 10px;
  outline: 0;
  border-bottom: 1px solid #383D3B; }
  input[type="submit"], textarea[type="submit"] {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 0;
    margin-top: 25px;
    padding: 20px;
    background: #63ADF2;
    border-bottom: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease; }
    input[type="submit"]:hover, textarea[type="submit"]:hover {
      background: #3494ee; }
    input[type="submit"]:active, textarea[type="submit"]:active {
      background: #127bdd; }

select {
  display: block;
  margin-top: 10px; }

span.dynSpan {
  display: none; }
  span.dynSpan.-active {
    display: block; }

#videoSource {
  display: none; }
  #videoSource.-active {
    display: block; }

.classroom-main {
  width: 70%;
  display: block;
  float: right; }

.classroom-sidebar {
  width: 30%;
  height: calc(100vh - 69.813px);
  overflow: auto;
  display: block;
  float: left;
  background: #545E75;
  color: #fff; }
  .classroom-sidebar-title {
    color: #fff;
    font-size: 20px;
    text-decoration: none; }
    .classroom-sidebar-title h2 {
      margin: 20px; }
    .classroom-sidebar-title span {
      font-size: 14px;
      display: block; }
  .classroom-sidebar-unit-title {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0;
    background: #3f4657; }
  .classroom-sidebar-unit-subtitle {
    font-size: 12px;
    padding: 10px 20px;
    margin: 0;
    background: #495266; }
  .classroom-sidebar-unit-itens {
    display: block;
    margin: 0;
    padding: 0; }
    .classroom-sidebar-unit-itens li {
      display: block; }
      .classroom-sidebar-unit-itens li a {
        color: #fff;
        display: block;
        font-size: 12px;
        text-decoration: none;
        padding: 10px 20px 10px 40px;
        margin: 0;
        transition: all .3s ease;
        border-bottom: 1px solid #495266; }
        .classroom-sidebar-unit-itens li a:hover {
          color: #545E75;
          background: #fff; }
      .classroom-sidebar-unit-itens li.-active a {
        color: #545E75;
        background: #fff; }

.course-carousel {
  padding: 0;
  margin: 0 20px; }
  .course-carousel-title {
    font-size: 20px;
    padding: 20px 25px;
    margin: 0;
    color: #383D3B; }

.course-comment-box {
  padding: 20px;
  position: relative; }
  .course-comment-box h4 {
    margin: 0; }
  .course-comment-box:nth-child(odd) {
    background: #f2f2f2; }
  .course-comment-box .course-rating {
    position: absolute;
    top: 20px;
    right: 20px; }
  .course-comment-box-write {
    margin-top: 20px; }

.course-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both; }
  .course-container-content {
    display: block;
    float: left;
    width: 70%;
    padding: 20px;
    box-sizing: border-box; }
  .course-container-title {
    font-size: 22px;
    margin: 0;
    color: #383D3B;
    border-bottom: 1px solid #383D3B;
    padding-bottom: 10px;
    text-align: left; }
    .course-container-title-admin {
      font-size: 12px;
      color: #8783D1;
      text-decoration: none;
      margin-top: 7px;
      transition: color .3s ease;
      margin-left: 10px; }
      .course-container-title-admin:hover {
        color: #4640ae; }
  .course-container-unit-form {
    width: 300px;
    height: 0px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 0 20px;
    transition: height .3s ease, margin .3s ease, opacity .1s .3s ease, transform .1s .3s ease;
    opacity: 0;
    transform: scale(0.8); }
    .course-container-unit-form.-active {
      border: 1px solid #92DCE5;
      height: 228px;
      opacity: 1;
      transform: scale(1);
      margin: 30px auto 30px auto; }
  .course-container-sidebar {
    display: block;
    float: right;
    width: 30%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #EEE5E9;
    text-align: center; }
    .course-container-sidebar .course-thumb {
      width: 100%;
      text-align: left;
      margin: 20px 0 0 0; }

.course-header {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  color: #fff; }
  .course-header-bg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .course-header-title {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20; }
    .course-header-title > h2 {
      font-size: 32px;
      margin: 0; }
  .course-header-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 20; }
    .course-header-description > p {
      margin: 0; }
  .course-header-info {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20; }
    .course-header-info-date {
      font-size: 12px;
      margin-right: 10px; }
    .course-header-info-category {
      font-size: 12px;
      padding: 0px 5px;
      background: #8783D1; }
      .category_JavaScript .course-header-info-category {
        background: #FFFD98;
        color: #000; }
      .category_CSS .course-header-info-category {
        background: #8783D1; }
      .category_HTML .course-header-info-category {
        background: #DB2763; }
  .course-header-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 20; }
    .course-header-button > a {
      font-size: 18px;
      color: #fff;
      background: #63ADF2;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      transition: background .3s ease; }
      .course-header-button > a:hover {
        background: #3494ee; }
      .course-header-button > a:active {
        background: #127bdd; }
    .course-header-button-edit {
      color: #000 !important;
      background: #FFFD98 !important;
      margin: 0 20px; }
    .course-header-button-delete {
      background: #DB2763 !important; }

.main-header {
  background: #383D3B;
  color: #fff;
  clear: both;
  overflow: hidden; }
  .main-header .logo {
    font-family: 'Bree Serif', sans-serif;
    margin-left: 20px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    float: left;
    transition: color .3s ease; }
    .main-header .logo:hover {
      color: #63ADF2; }
    .main-header .logo h1 {
      font-size: 26px; }
  .main-header .right-header {
    margin-top: 10px;
    float: right; }
  .main-header .main-menu ul {
    margin: 0;
    padding: 0; }
    .main-header .main-menu ul li {
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;
      font-size: 14px; }
      .main-header .main-menu ul li:last-child {
        margin-right: 20px; }
      .main-header .main-menu ul li a {
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        transition: color .3s ease; }
        .main-header .main-menu ul li a:hover {
          color: #63ADF2; }
  .main-header .welcome {
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 10px; }
    .main-header .welcome a {
      color: #fff;
      font-weight: 400;
      text-decoration: none; }

.test-container {
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box;
  height: calc(100vh - 70px);
  overflow: auto; }

.test-answer {
  display: inline-block;
  width: auto;
  margin: 10px; }

.page-courses {
  padding-bottom: 20px; }

.certificate {
  text-align: center; }
  .certificate h1 {
    font-family: 'Bree Serif', sans-serif;
    font-size: 80px;
    margin: 40px 0; }
  .certificate p {
    font-size: 40px; }

.classroom {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  clear: both; }
  .classroom-main-video {
    width: 100%;
    height: calc(100vh - 69.813px);
    position: relative; }
  .classroom-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 70px); }
  .classroom-video-title {
    position: absolute;
    bottom: 0;
    left: 20px; }

.login-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%); }

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(46, 46, 46, 0.47);
  background: -moz-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(46, 46, 46, 0.47)), color-stop(100%, rgba(31, 31, 31, 0.73)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: radial-gradient(ellipse at center, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#1f1f1f', GradientType=1 ); }
  .login-container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .login-container h2 {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2.8px; }
  .login-container label {
    color: #fff; }
  .login-container input {
    color: #000; }

.newCourse-form {
  float: left;
  width: 40%; }

.select-cover {
  float: right;
  width: 50%; }
  .select-cover-item {
    display: none; }
    .select-cover-item:checked + .select-cover-label img {
      border: 4px solid #63ADF2; }
  .select-cover-label {
    cursor: pointer; }
    .select-cover-label img {
      width: 150px;
      border: 4px solid #fff;
      transition: border .3s ease; }
  .select-cover-title {
    display: block;
    margin-bottom: 20px; }

.newCourse-submit {
  display: block;
  float: right;
  width: 50%;
  text-align: right; }

.user-courses {
  overflow: hidden;
  clear: both; }

.user-course {
  float: left; }
  .user-course-content {
    margin: -5px 5px 20px;
    padding-bottom: 20px;
    background: #EEE5E9; }
    .user-course-content h4 {
      padding-top: 10px;
      text-align: center;
      margin: 0;
      font-weight: 400;
      font-size: 16px; }
    .user-course-content p {
      display: block;
      text-align: center;
      margin: 0;
      font-size: 18px;
      font-weight: 600; }
    .user-course-content a {
      padding: 5px 10px;
      background: #8783D1;
      color: #fff;
      text-decoration: none;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      width: 140px;
      text-align: center;
      transition: all .3s ease; }
      .user-course-content a:hover {
        background: #635ec3; }

.test-preview-question {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #545E75;
  margin: 20px 0; }
  .test-preview-question h4 {
    margin: 0 0 20px;
    font-size: 20px;
    color: #545E75; }
  .test-preview-question span {
    display: block;
    font-size: 16px;
    color: red; }
    .test-preview-question span.answer-true {
      color: green;
      font-weight: bold;
      margin: 5px 0; }

.test-form {
  margin: 40px 0; }
  .test-form-finish {
    min-width: 260px;
    text-align: center;
    background: #FFFD98;
    text-decoration: none;
    color: #000;
    padding: 18px;
    margin-top: 25px;
    float: right;
    transition: all .3s ease;
    font-weight: bold;
    outline: 0; }
    .test-form-finish:hover {
      background: #fffc65; }
