@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0; }

label {
  font-size: 18px;
  color: #383D3B; }

input {
  border: none;
  display: block;
  background: white;
  color: #383D3B;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px; }
  input.submit {
    width: 100%;
    text-align: center;
    border-radius: 0;
    margin-top: 25px;
    padding: 20px; }

.main-header {
  background: #383D3B;
  color: #fff;
  clear: both;
  overflow: hidden; }
  .main-header .logo {
    font-family: 'Bree Serif', sans-serif;
    margin-left: 20px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    float: left;
    transition: color .3s ease; }
    .main-header .logo:hover {
      color: #63ADF2; }
    .main-header .logo h1 {
      font-size: 26px; }
  .main-header .right-header {
    margin-top: 10px;
    float: right; }
  .main-header .main-menu ul {
    margin: 0;
    padding: 0; }
    .main-header .main-menu ul li {
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;
      font-size: 14px; }
      .main-header .main-menu ul li:last-child {
        margin-right: 20px; }
      .main-header .main-menu ul li a {
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        transition: color .3s ease; }
        .main-header .main-menu ul li a:hover {
          color: #63ADF2; }
  .main-header .welcome {
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 10px; }
    .main-header .welcome a {
      color: #fff;
      font-weight: 400;
      text-decoration: none; }

.login-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%); }

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(46, 46, 46, 0.47);
  background: -moz-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(46, 46, 46, 0.47)), color-stop(100%, rgba(31, 31, 31, 0.73)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  background: radial-gradient(ellipse at center, rgba(46, 46, 46, 0.47) 0%, rgba(31, 31, 31, 0.73) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#1f1f1f', GradientType=1 ); }
  .login-container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .login-container h2 {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2.8px; }
  .login-container label {
    color: #fff; }
  .login-container input {
    color: #fff; }
