.course-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    clear: both;
    &-content{
        display: block;
        float: left;
        width: 70%;
        padding: 20px;
        box-sizing: border-box;

        @include atMobile {
            width: 100%;
        }
    }
    &-title{
        font-size: 22px;
        margin: 0;
        color: $black-olive;
        border-bottom: 1px solid $black-olive;
        padding-bottom: 10px;
        text-align: left;

        &-admin{
            font-size: 12px;
            color: $ube;
            text-decoration: none;
            margin-top: 7px;
            transition: color .3s ease;
            margin-left: 10px;
            
            @include atMobile {
                margin-left: 0;
                font-weight: bold;
                display: block;
            }
            
            &:hover{
                color: darken($ube,20);
            }
        }
    }
    &-unit-form{
        width: 300px;
        height: 0px;
        overflow: hidden;
        margin: 0 auto;
        border: 1px solid transparent;
        padding: 0 20px;
        transition: height .3s ease, margin .3s ease, opacity .1s .3s ease, transform .1s .3s ease;
        opacity: 0;
        transform: scale(.8);
        &.-active{
            border: 1px solid $light-blue;
            height: 228px;
            opacity: 1;
            transform: scale(1);
            margin: 30px auto 30px auto;
        }

        @include atMobile {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transform: scale(.8) translate(-50%, -50%);
            z-index: 200;
            background: $white;

            &.-active{
                border: 1px solid $light-blue;
                height: 228px;
                opacity: 1;
                transform: scale(1) translate(-50%, -50%);
                margin: 30px auto 30px auto;
            }
        }
    }
    &-sidebar{
        display: block;
        float: right;
        width: 30%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background: $platinum;
        text-align: center;
        
        @include atMobile {
            width: 100%;
            height: auto;
        }

        .course-thumb{
            width: 100%;
            text-align: left;
            margin: 20px 0 0 0;
        }
    }
}

.files-link{
    text-decoration: none;
}