.user{
    &-courses{
        overflow: hidden;
        clear: both;
    }
    &-course{
        float: left;
        
        @include atMobile {
            float: none;
        }
        &-content{
            margin: -5px 5px 20px;
            padding-bottom: 20px;
            background: $platinum;
            h4{
                padding-top: 10px;
                text-align: center;
                margin: 0;
                font-weight: 400;
                font-size: 16px;
            }
            p{
                display: block;
                text-align: center;
                margin: 0;
                font-size: 18px;
                font-weight: 600;
            }
            a{
                padding: 5px 10px;
                background: $ube;
                color: $white;
                text-decoration: none;
                display: block;
                margin: 0 auto;
                margin-top: 20px;
                width: 140px;
                text-align: center;
                transition: all .3s ease;
                &:hover{
                    background: darken($ube, 10);
                }

                @include atMobile {
                    width: 100%;
                }
            }
        }
    }
}