include ../modules/header

.certificate
    h1 Educollection
    p Certificamos para devidos fins que 
        br
        b #{user.name} 
        br
        | concluiu o curso 
        br 
        b #{course.courseTitle} 
        br 
        | na plataforma Educollection.
    script(src="/js/print.js")