include ../modules/header
include ../modules/menu
ul
    li
        a(href="/") Home
    li
        a(href="/usuarios") Usu치rios
    li Novo usu치rio

h2 Novo us치rio

p Novo usu치rio criado com sucesso                
    span=name