include ../modules/header
include ../modules/menu

.centralized-container.users
    h2 Usuários
    ul
        each user in users
            li
                a(href="usuarios/"+user._id)=user.name
                | 
                a.delete(href="usuarios/"+user._id+"/excluir") Exluir
    p
        a.new-user(href="/usuarios/novo") Novo usuário