// system colors
$white: #fff;
$black: #000;
$black-coral: #545E75;
$blue-jeans: #63ADF2;
$black-olive: #383D3B;
$platinum: #EEE5E9;
$light-blue: #92DCE5;

// categories colors
$cherry: #DB2763;
$canary: #FFFD98;
$ube: #8783D1;
$blue-bell: #A2A3BB;
$tuscany: #CF9893;