.course-thumb{
    display: inline-block;
    position: relative;
    width: 230px;
    height: 130px;
    overflow: hidden;
    margin: 0 5px;
    transition: all .3s ease;
    &:hover{
        transform: scale(1.05);
    }
    &:first-child{
        margin-left: 20px;
    }
    img{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &-title{
        position: absolute;
        bottom: 5px;
        left: 0;
        margin: 0 5px;
        z-index: 10;
        font-size: 16px;
        color: $white;
    }
    &-author{
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: $white;
    }
    &-mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $black;
        opacity: .5;
        z-index: 5;
        .category_JavaScript &{
            background: $canary;
        }
        .category_CSS &{
            background: $ube;
        }
        .category_HTML &{
            background: $cherry;
        }
    }
    &-mask-shadow{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 6;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}